<div style="width:293px; height:372px; display: inline-block; margin-top:0px ">
	<table class="table table-bordered mb-0" style="width:292px">
		<tbody>
			<tr>
				<td style="text-align: center; padding:2px 12px;">
					Historie
				</td>
			</tr>

			<tr>
				<td style="height:362px; padding-bottom:2px">
					<textarea rows="14" cols="30" class="textarea" style="padding:2px" readonly>@Examples</textarea>
				</td>
			</tr>
		</tbody>
	</table>
</div>

@code {	
	[Parameter] public string? Examples { get; set; }
}